mixin header(title = 'UniDesign', arr = [1, 2, 3])
	header.header 
		.container.header__container 
			a(href="#") 
				h1.header__title #{title}
			nav.header__nav  
				menu.header__menu 
					each value in arr 
						li.header__item
							if(value === 'About Me')
								a.header__link(href=`#about`) #{value}
							else if(value === 'Hire Me')
								a.header__link(href=`#`) #{value}
							else
								a.header__link(href=`#${value}`) #{value} 
			.header__burger